.EditorContainer {
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--ifm-color-surface-2);
    margin-bottom: 2rem;
}

.Editor {
    font-family: var(--ifm-font-family-monospace) !important;
    border: 2px solid #61dbfb;
    border-radius: 8px;
}

.PreviewOuterContainer {
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--ifm-color-surface-2);
}

.PreviewContainer {
    border: 2px solid #61dbfb;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--ifm-color-background);
}
