.Container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.FrameworkButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0 0;
}

@media (max-width: 997px) {
  .Container {
    flex-direction: column;
  }

  .FrameworkButtonsContainer {
    flex-direction: row;
    margin: 0 0 0.5rem 0;
  }
}
