.Container {
  background-color: var(--ifm-color-background-2);
  transform: skewY(-2deg);
  padding: 8rem 0;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  transform: skewY(2deg);
}

.HeaderContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Tagline {
  font-size: var(--ifm-font-size-18);
  color: var(--ifm-color-on-background-2);
  font-weight: bold;
}

.Title {
  font-size: var(--ifm-font-size-36);
  color: var(--ifm-color-on-background);
  font-weight: bold;
}

.Description {
  font-size: var(--ifm-font-size-16);
  color: var(--ifm-color-on-background-3);
}

.FindOutMoreButton {
  align-self: flex-start;
  margin: 10px;
}
