.SectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  max-width: var(--ifm-container-width);
  max-height: 550px;
  padding: 5rem 3em;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: var(--ifm-font-size-18);
  background-color: var(--ifm-color-surface);

  background-color: #00a4db;
}

.SectionInnerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;

  background-color: #7f8497;
}

.SectionLeftContainer {
  display: flex;
  flex: 2;
  position: relative;
  overflow: hidden;
  max-height: 400px;

  background-color: green;
}

.SectionLeftContainer::before {
  display: block;
  content: ' '; /* https://stackoverflow.com/questions/35180361/css-before-and-after-not-working */
  position: absolute;
  top: 0;
  left: 0;
  height: 108px;
  width: 100%;
  background: linear-gradient(var(--ifm-color-surface), transparent);
  z-index: 1;
}

.SectionLeftContainer::after {
  display: block;
  content: ' '; /* https://stackoverflow.com/questions/35180361/css-before-and-after-not-working */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 108px;
  width: 100%;
  background: linear-gradient(transparent, var(--ifm-color-surface));
  z-index: 1;
}

.SectionOffset {
  position: relative;
  height: 100%;
  transform: translateZ(0);
  transition: top 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

  background-color: purple;
}

.SectionRightContainer {
  display: flex;
  flex: 1;
  margin-left: 2rem;
  flex-direction: column;

  background-color: red;
}

.ChevronContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: var(--ifm-font-size-36);
  color: var(--ifm-color-on-surface);
  padding: 1.25rem;
}

.ChevronContainer:hover {
  cursor: pointer;
  color: var(--ifm-color-on-surface-2);
}

@media (max-width: 1113px) {
  .SectionContainer {
    padding: 4rem 1.75em;
  }

  .SectionInnerContainer {
    justify-content: center;
    align-items: center;
  }

  .SectionLeftContainer {
    flex: 3
  }
}

@media (max-width: 622px) {
  .SectionContainer {
    padding: 0;
  }

  .SectionInnerContainer {
    flex-direction: column;
  }

  .SectionRightContainer {
    display: none;
  }

  .SectionLeftContainer {
    max-height: 288px;
    flex: 0;
  }
}
