.Container {
  width: 100%;
  position: relative;
  padding: 10px;
  font-size: var(--ifm-font-size-16);
}

.Container:not(:last-child) {
  margin-bottom: 0.75rem;
}

.Container_Active {
  font-size: var(--ifm-font-size-18);
}

@media (max-width: 768px) {
  .Container {
    font-size: var(--ifm-font-size-16);
  }

  .Container_Active {
    font-size: var(--ifm-font-size-16);
  }
}
