.Container {
  width: 100%;
  position: relative;
  font-size: var(--ifm-font-size-16);
}

.Container:not(:last-child) {
  margin-bottom: 0.75rem;
}

.Container_Active {
  border-radius: 8px;
  border: 2px solid var(--ifm-color-primary);
  font-size: var(--ifm-font-size-18);
  z-index: 2000;
}

@media (max-width: 768px) {
  .Container {
    font-size: var(--ifm-font-size-16);
  }

  .Container_Active {
    font-size: var(--ifm-font-size-16);
  }
}
