.Container {
  display: flex;
  width: 95%;

  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 10rem 0 16rem 0;
  transition: padding 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.RocketImage {
  position: absolute;
  right: 10%;
  width: 45%;
  max-width: 800px;
  opacity: 1;
}

.HeaderTitle {
  color: var(--ifm-navbar-link-color);
  font-size: var(--ifm-font-size-36);
  font-weight: normal;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.SeparatorText {
  color: var(--ifm-navbar-link-active-color);
  font-size: var(--ifm-font-size-36);
}

.DescriptionText {
  color: var(--ifm-color-primary-lightest);
  font-size: var(--ifm-font-size-24);
  max-width: 400px;
  margin: 0;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
}

.GithubButton {
  width: 200px;
}

.GetStartedButton {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 996px) {
  .RocketImage {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .Container {
    padding: 8rem 0 0 0;
    justify-content: center;
    text-align: center;
  }

  .HeaderTitle {
    font-size: var(--ifm-font-size-28);
  }

  .SeparatorText {
    font-size: var(--ifm-font-size-28);
  }

  .HeaderTyper {
    justify-content: center;
  }

  .DescriptionText {
    font-size: var(--ifm-font-size-20);
  }

  .ButtonContainer {
    flex-direction: column;
    align-items: center;
  }

  .GetStartedButton {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 2rem 0 5rem 0 !important;
  }
}
