.Container {
  display: flex;
  flex: 1;
  flex-direction: row;

  transition: flex-direction 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.FrameworkButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0 0;
}

.CodeContainer {
  transition: width 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  width: 900px;
}

.SandboxButton {
  align-self: flex-start;
  margin: 10px;
}

@media (max-width: 997px) {
  .Container {
    flex-direction: column;
  }

  .CodeContainer {
    width: 100%;
  }

  .FrameworkButtonsContainer {
    flex-direction: row;
    margin: 0 0 0.5rem 0;
  }
}
