.Typewriter__cursor {
    color: var(--ifm-color-primary);
    font-size: 65px;
    font-weight: bold;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.Typewriter__wrapper {
    color: var(--ifm-navbar-link-color);
    font-size: 50px;
}